<?xml version="1.0"?>
<appSettings>
  <!--Dung lượng tối đa File ảnh được phép đăng-->
  <add key="MaxSizeImageAllowed" value="1"/>

  <!--Khóa xác định chuỗi kết nối-->
  <add key="KeyConnection" value="nvcuong"/>
  
  <add key="AvatarImgExtensionsAllowed" value="jpg,gif,png"/>
  <!--Nơi chứa các File Upload-->
  <add key="FileUploadPath" value="~/Content/imgs/users/avatar/"/>
  <!--Nơi chứa File Upload Avatar-->
  <add key="UserAvatarUploadPath" value="~/Content/imgs/users/avatar/"/>
</appSettings>
